* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 750px;
    min-width: 300px;
    font-size: 15px;
    background-color: whitesmoke;
  }
  header{
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: white;
    display: flex;
    font-size: .15rem;
    .left{
        width: 15%;
        text-align: center;
    }
    .title{
        width: 70%;
        text-align: center;
    }
}
.box1 {
    width: 95%;
    margin: .5rem auto;
    padding:  .6rem;
    background-color: white;
    margin-bottom: .05rem;
    font-size: .15rem; 
    border-radius: .6rem;
    
}
img{
    width: .7rem;
    height: .7rem;
}
li{
    width: 100%;
    margin: .2rem auto;
}

.box1-1{ 
    width: 100%;
    display: flex;
   
    .yy{
        width: 80%;
        display: flex;
         align-items: center;
        b{
            width: 20%;
            font-size: .85rem;
        }
        .sui{
            margin-left: 5.3%;
            margin-right: .3rem;
        } 
    }
    .shen {
        width: 20%;
        color: red;
        text-align: right;
    }
}
.box2{
    display: flex;
    .zuo{
        width: 20%;
    }
    .you{
      width: 70%;  
    }

}
.p{
    color: #6666;
    text-align: center;
    font-size: .15rem;
    margin-top: .7rem;
}



