* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 750px;
  min-width: 300px;
  font-size: 15px;
  background-color: whitesmoke;
}

header {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  background-color: white;
  display: flex;
  font-size: .15rem;
}

header .left {
  width: 15%;
  text-align: center;
}

header .title {
  width: 70%;
  text-align: center;
}

.box1 {
  width: 100%;
  height: 2rem;
  padding-left: .5rem;
  font-size: .19rem;
  line-height: 2rem;
}

.box2 {
  width: 100%;
  background-color: white;
}

.box2 .li {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.3rem;
  font-size: .15rem;
  margin: .2rem 0px;
  border-bottom: 1px solid #ddd;
}

.box2 .li .zuo {
  width: 20%;
  text-align: center;
}

.box2 .li input {
  width: 70%;
  border: 0px;
}

.box2 .li .inp::-webkit-input-placeholder {
  color: red;
}

.box2 .li .you {
  width: 10%;
  text-align: right;
}

.box3 {
  width: 100%;
  height: 6rem;
  font-size: .15rem;
  display: flex;
  padding-top: .3rem;
}

.box3 .zuo {
  width: 20%;
  text-align: center;
}

.box3 .inpu {
  width: 70%;
  height: 90%;
  border: 0px;
  border-radius: .8rem;
  background-color: whitesmoke;
}

.box5 {
  width: 100%;
  background-color: white;
  height: 3rem;
  position: fixed;
  bottom: 0px;
}

.box5 div {
  width: 90%;
  height: 2rem;
  border-radius: .7rem;
  color: white;
  line-height: 2rem;
  margin: .5rem auto;
  text-align: center;
  background-color: hotpink;
}
