* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  max-width: 750px;
  min-width: 300px;
  font-size: 15px;
  background-color: whitesmoke;
}

header {
  width: 100%;
  display: flex;
  background-color: white;
}

header .left {
  width: 15%;
  text-align: center;
}

header .title {
  width: 70%;
  text-align: center;
}

header .you {
  width: 15%;
}

.box {
  width: 100%;
  height: .7rem;
  line-height: .7rem;
  padding-left: .2rem;
  margin: .4rem 0px;
}

.box1 {
  width: 100%;
  height: 3rem;
  background-color: white;
  display: flex;
}

.box1 .box1-1 {
  width: 1rem;
  height: 1rem;
  border-radius: .25rem;
}

.box1 .box1-2 {
  float: left;
}

.box1 .box1-3 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 3rem;
  font-size: .12rem;
}

.box1 .box1-3 span {
  margin-right: .4rem;
}

.box1 .box1-3 img {
  width: .5rem;
  height: .5rem;
}

.box1 .box1-3 .huang {
  background-color: yellow;
  color: yellowgreen;
}

.box1 .box1-3 .red {
  background-color: hotpink;
  color: pink;
}

.box1 .box1-3 .lan {
  background-color: powderblue;
  color: blue;
}

.box1-2 {
  line-height: 3rem;
}
